node_modules
# Node logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
istani-rebuild/assets/

# Java build artifacts
target/
*.class
*.jar
*.war
*.ear
*.log
.settings/
.project
.classpath
*.iml
.idea/

# Maven
.mvn/
mvnw
mvnw.cmd
